body{
    background-color: #6ed8ff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link, a{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
a:hover{
    transform: scale(1.5);
}
h1{
    font-style: italic;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, p{
    color: #4C4C4C;
    text-align: center;
}



a{
    width: 150px;
    height: auto;
    position: relative;
    overflow: hidden;
}
img{
    width: 50%;
}
@media screen and (max-width: 299px) {
    body{
        background-color: #ff6e6e;
    }
}
@media screen and (max-width: 300px) and (max-width: 767px) {
    body{
        background-color: #75ff6e;
    }
}


